Catalyst SMILES(RDKit)
Cc1cc(C)cc(P2(c3cc(C)cc(C)c3)->N(C)[C@H](C)C3=C(C=C[C@@H]3[Fe]C3C=CC=C3)P(c3ccccc3)(->c3ccccc3)[Rh+]2)c1
C[C@H](NC(=S)Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)C1=C2[C@H](C=C1)[Fe][C@H]1C=CC=C1P(c1ccccc1)(->c1ccccc1)[Rh+]P2(c1ccccc1)->c1ccccc1
C[C@@H]1C2=C(C=C[C@@H]2[Fe]C2C=CC=C2)P(c2ccccc2)(->c2ccccc2)[Rh+]P(c2ccc(F)c(F)c2)(->c2ccc(F)c(F)c2)N1C
COc1ccc2cc([C@@H](C)COc3cc4ccccc4c4c3P(c3cc(C)cc(C)c3)(->c3cc(C)cc(C)c3)[Rh+]P(c3cc(C)cc(C)c3)(->c3cc(C)cc(C)c3)c3c(OC[C@H](C)c5ccc6cc(OC)ccc6c5)cc5ccccc5c3-4)ccc2c1
CCN(CC)p1([Rh+]p2(N(CC)CC)->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)->oc2ccc3ccccc3c2c2c(ccc3ccccc32)o1
COc1cc(C(C)(C)C)c2op3(->oc4c(C(C)(C)C)cc(OC)cc4c2c1)NC[C@H]1OC2OC(C)(C)O[C@@H]2[C@H]1Op1(->oc2c(C(C)(C)C)cc(OC)cc2c2cc(OC)cc(C(C)(C)C)c2o1)[Rh+]3
Cc1ccc(N2[C@@H]3CC[C@H]3N(c3ccc(C)cc3)<-P23OC(C)(C)C2=N(->[C@@H](C(C)(C)C)CO2)[Ir+]3)cc1
CC(C)(C)P(C[C@@H]1CCCN1C(=O)C(c1ccccc1)(c1ccccc1)c1ccccc1)([Ir+]P(C[C@@H]1CCCN1C(=O)C(c1ccccc1)(c1ccccc1)c1ccccc1)(C(C)(C)C)->C(C)(C)C)->C(C)(C)C
C[C@@H]1CC[C@@H](C)<-P12[Ir+]P1(->[C@H](C)CC[C@H]1C)c1ccccc12
CN1C(=O)N(C)[C@@H]2CP(c3ccccc3)(->c3ccccc3)[Rh+]P(c3ccccc3)(->c3ccccc3)C[C@H]21
C[C@@H]1OC(c2ccccc2)=N2->[C@@H]1C(Cc1ccccc1)(Cc1ccccc1)OP(c1ccccc1)(->c1ccccc1)[Ir+]2
C[C@H](NC(=S)Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)C1=C2[C@H](C=C1)[Fe][C@H]1C=CC=C1P(c1ccccc1)(->c1ccccc1)[Rh+]P2(c1ccccc1)->c1ccccc1
C[C@@H](C1=C([P@]2(C)->CP(C(C)(C)C)(->C(C)(C)C)[Rh+]2)C=C[C@H]1[Fe]C1C=CC=C1)N(C)C
CN(C)p1([Rh+]p2(N(C)C)->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)->oc2ccc3ccccc3c2c2c(ccc3ccccc32)o1
C[C@H](NC(=S)Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)C1=C2[C@H](C=C1)[Fe][C@H]1C=CC=C1P(c1ccccc1)(->c1ccccc1)[Rh+]P2(c1ccccc1)->c1ccccc1
C[C@@H]1C2=C([C@H]([Fe]C3C=CC=C3)C=C2)P(c2ccc(C(F)(F)F)cc2)(->c2ccc(C(F)(F)F)cc2)[Rh+]P1(C(C)(C)C)->C(C)(C)C
C[C@@H]1Op2(->oc3c(-c4ccccc4)cc4c(c3c3c5c(cc(-c6ccccc6)c3o2)CCCC5)CCCC4)[Rh+]P1(c1ccccc1)->c1ccccc1
CC[C@H]1C[C@H](CC)<-P12[Rh+]P1(->[C@@H](CC)C[C@@H]1CC)C1=CC=C[C@@H]1[Fe]C1C=CC=C12
c1ccc(-c2cc3ccccc3c3c2op2(->oc4c(-c5ccccc5)cc5ccccc5c43)O[C@@H]3CCCC[C@H]3c3<-n(cccc3)[Ir+]2)cc1
c1ccc2c(c1)ccc1op([Rh+]p3(N4CCOCC4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)(N3CCOCC3)->oc3ccc4ccccc4c3c12
C[C@H]1CC[C@H](C)<-P12[Ni+2]P1(->[C@@H](C)CC[C@@H]1C)c1ccccc12
CC(C)(C)c1cc(C(C)(C)C)c2op3(->oc4c(C(C)(C)C)cc(C(C)(C)C)cc4c2c1)OC(C)(C)[C@@H]1CCCc2sc(-c4ccccc4)n(->c21)[Ir+]3
c1ccc(N2CCN(p3([Rh+]p4(N5CCN(c6ccccc6)CC5)->oc5ccc6c(c5c5c7c(ccc5o4)CCCC7)CCCC6)->oc4ccc5c(c4c4c6c(ccc4o3)CCCC6)CCCC5)CC2)cc1
CC(C)C1=N2->[C@H]3[C@@H](O1)O[C@@H]1CO[C@@H](c4ccccc4)O[C@H]1[C@@H]3Op1(->oc3c(C(C)(C)C)cc(C(C)(C)C)cc3c3cc(C(C)(C)C)cc(C(C)(C)C)c3o1)[Ir+]2
CC(C)(C)[C@@H]1<-N2=C(c3ccccc3P(c3ccccc3)(->c3ccccc3)[Ir+]2)N(c2ccc(C(F)(F)F)cc2)C1
Cc1ccccc1P1(c2ccccc2C)->c2ccccc2C2=N(->[C@@H](C(C)(C)C)CN2c2ccccc2)[Ir+]1
Cc1ccccc1P1(->c2ccccc2C)O[C@H]2CCCc3ccc(-c4ccccc4)n(->c32)[Ir+]1
CC(C)(C)c1cc(C(C)(C)C)cc(P2(c3cc(C(C)(C)C)cc(C(C)(C)C)c3)->c3cccc4c3[C@@]3(CCc5cccc(c53)C3=N(->CCO3)[Ir+]2)CC4)c1
C[C@H]1C2=C([C@@H]([Fe]C3C=CC=C3)C=C2)P(c2ccccc2)(->c2ccccc2)[Rh+]P(c2ccccc2)(->c2ccccc2)N1C
c1ccc([C@@H]2OP(c3ccccc3)(->c3ccccc3)[Ir+]N3->[C@H](c4ccccc4)COC=32)cc1
c1ccc(-c2<-n3c(sc2)[C@H]2[C@@H]4CC[C@@H](C4)N2P(c2ccccc2)(->c2ccccc2)[Ir+]3)cc1
Cc1<-n2c(sc1)[C@H]1[C@@H]3CC[C@@H](C3)N1P(c1ccccc1)(->c1ccccc1)[Ir+]2
CP1(->C2CCCCC2)CCP(C)(->C2CCCCC2)[Rh+]1
C[C@H]1C2=C([C@@H]([Fe]C3C=CC=C3)C=C2)P(c2ccccc2)(->c2ccccc2)[Rh+]P(c2ccccc2)(->c2ccccc2)c2c(-c3ccccc3)nnn21
c1ccc2c(c1)ccc1op([Rh+]p3(N4CCCCCC4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)(N3CCCCCC3)->oc3ccc4ccccc4c3c12
c1ccc(N2N(c3ccccc3)p3(->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)[Rh+]p23->oc2ccc4ccccc4c2c2c(ccc4ccccc42)o3)cc1
CC(C)[C@@H]1NP(C)(->C(C)(C)C)[Ir+]N2->[C@@H](C(C)C)COC=21
Cc1sc2c3<-n1[Ir+]P(c1ccccc1)(->c1ccccc1)N(C)[C@@H]3CCC2
CCN(CC)CCNp1([Rh+]p2(NCCN(CC)CC)->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)->oc2ccc3ccccc3c2c2c(ccc3ccccc32)o1
CC(C)(C)P1([Rh+]P2(C(C)(C)C)->Cc3ccc4ccccc4c3-c3c(ccc4ccccc34)C2)->Cc2ccc3ccccc3c2-c2c(ccc3ccccc23)C1
O=C(NCc1cccc(COp2([Rh+]p3(OCc4cccc(CNC(=O)c5ccc(C(F)(F)F)cc5)c4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)c1)c1ccc(C(F)(F)F)cc1
C[C@@H]1C2=C([C@@H]([Fe]C3C=CC=C3)C=C2)P(C2CCCCC2)(->C2CCCCC2)[Rh+]P1(C(C)(C)C)->C(C)(C)C
CN(C)P1([Rh+]P2(N(C)C)->Cc3ccc4ccccc4c3-c3c(ccc4ccccc34)C2)->Cc2ccc3ccccc3c2-c2c(ccc3ccccc23)C1
COc1ccc(P2([Rh+]P3(c4ccc(OC)cc4)->Cc4ccc5ccccc5c4-c4c(ccc5ccccc45)C3)->Cc3ccc4ccccc4c3-c3c(ccc4ccccc34)C2)cc1
CC(C)(C)P1(->C(C)(C)C)O[C@@H]2CCc3ccc(-c4ccccc4)n(->c32)[Ir+]1
CC(C)(C)P1(->C(C)(C)C)CP(C)(->C(C)(C)C)[Rh+]1
C[C@H](NC(=S)Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)C1=C2[C@H](C=C1)[Fe][C@H]1C=CC=C1P(c1ccccc1)(->c1ccccc1)[Rh+]P2(c1ccccc1)->c1ccccc1
CC(C)(C)P1(->C(C)(C)C)O[C@H]2CCc3ccc(-c4ccccc4)n(->c32)[Ir+]1
Cc1cccc(C)c1C1=N2->[C@@H](CO1)C(C)(C)Op1(->oc3c(C(C)(C)C)cc(C(C)(C)C)cc3c3cc(C(C)(C)C)cc(C(C)(C)C)c3o1)[Ir+]2
c1ccc(-c2sc3c4<-n2[Ir+]P(c2ccccc2)(->c2ccccc2)C[C@H]4CCCC3)cc1
C[C@@H](C1=C([PH]2(=O)->c3ccccc3P(C3CCCCC3)(->C3CCCCC3)[Rh+]2)C=C[C@H]1[Fe]C1C=CC=C1)N(C)C
C[C@H](NC(=S)Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)C1=C2[C@H](C=C1)[Fe][C@H]1C=CC=C1P(c1ccccc1)(->c1ccccc1)[Rh+]P2(c1ccccc1)->c1ccccc1
O=C1N(Cc2ccccc2)[C@@H]2c3ccccc3O[PH](=O)([Rh+][PH]3(=O)->Oc4ccccc4[C@@H]4[C@@H](c5ccccc5O3)N(Cc3ccccc3)C(=O)N4Cc3ccccc3)->Oc3ccccc3[C@H]2N1Cc1ccccc1
CC(C)[C@@H]1Op2(->oc3c([Si](C)(C)C)cc4ccccc4c3c3c(o2)c([Si](C)(C)C)cc2ccccc23)[Ir+]N2->[C@@H](c3ccccc3)COC=21
C[C@@H]1Np2(->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)[Rh+]P(c2ccccc2)(->c2ccccc2)C2=C[C@@H]([Fe]C3C=CC=C3)C=C21
C[C@H](NC(=S)Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)C1=C2[C@H](C=C1)[Fe][C@H]1C=CC=C1P(c1ccccc1)(->c1ccccc1)[Rh+]P2(c1ccccc1)->c1ccccc1
CC(C)(C)P12->[C@H](CCC1)[C@@H]1<-P(C(C)(C)C)(CCC1)[Rh+]2
Cc1ccc(-c2<-n3c4n(c2)CCC[C@H]4CP(c2ccccc2)(->c2ccccc2)[Ir+]3)c(C)c1
Cc1ccccc1P1(c2ccccc2C)->N2[C@H]3CC[C@H](C3)[C@@H]2C2=N(->C(c3ccccc3)(c3ccccc3)CO2)[Ir+]1
CC(C)(C)[C@@H]1<-N2=C(OC1)c1ccccc1P(C1CCCCC1)(->C1CCCCC1)[Ir+]2
c1ccc2c(c1)ccc1op([Rh+]p3(N4CCOCC4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)(N3CCOCC3)->oc3ccc4ccccc4c3c12
CCN(CC)p12->oc3c(P(c4ccccc4)c4ccccc4)cc4ccccc4c3c3c(o1)c(cc1ccccc13)P(c1ccccc1)(->c1ccccc1)[Rh+]2
CCC[C@@H]1CC[C@@H](CCC)<-P12CCP1(->[C@H](CCC)CC[C@H]1CCC)[Co+2]2
C1=CC2[Fe]C3C=CC=C3P3(->Cc4ccc5ccccc5c4-c4c(ccc5ccccc45)C3)[Rh+]P3(->Cc4ccc5ccccc5c4-c4c(ccc5ccccc45)C3)C2=C1
Cc1ccccc1P1(->c2ccccc2C)O[C@H]2CCCc3ccc(-c4ccccc4)n(->c32)[Ir+]1
C[C@@H]1[C@H]2OC(C)(C)O[C@@H]2[C@@H](C)P(c2ccccc2)(->c2ccccc2)[Rh+]P1(c1ccccc1)->c1ccccc1
CC(C)(C)<-P1(C)[Rh+]P(C)(->C(C)(C)C)c2cc3c(cc21)OCO3
C[C@@H](Np1([Rh+]p2(N[C@H](C)c3ccccc3)->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)->oc2ccc3ccccc3c2c2c(ccc3ccccc32)o1)c1ccccc1
C[C@H](c1cccc2ccccc12)N([C@H](C)c1cccc2ccccc12)p1([Rh+]p2(N([C@H](C)c3cccc4ccccc34)[C@H](C)c3cccc4ccccc34)->oc3ccccc3c3ccccc3o2)->oc2ccccc2c2ccccc2o1
c1ccc2c(c1)ccc1op(OC3CCCCC3)([Rh+]p3(OC4CCCCC4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)->oc3ccc4ccccc4c3c12
Cc1cc(-c2c(F)cccc2F)n2->c3c1CC[C@H]3OP(C(C)(C)C)(->C(C)(C)C)[Ir+]2
C[C@H](NC(=S)Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)C1=C2[C@H](C=C1)[Fe][C@H]1C=CC=C1P(c1ccccc1)(->c1ccccc1)[Rh+]P2(c1ccccc1)->c1ccccc1
C[C@H]1C2=C(C=C[C@@H]2[Fe]C2C=CC=C2)P(c2ccccc2)(->c2ccccc2)[Rh+]p2(->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)N1C
c1ccc(P2([Rh+]P3(c4ccccc4)->Cc4ccc5ccccc5c4-c4c(ccc5ccccc45)C3)->Cc3ccc4ccccc4c3-c3c(ccc4ccccc34)C2)cc1
CC(C)[C@@H](Sc1ccccc1)[C@@H](C)OP([Rh+]P(O[C@H](C)[C@H](Sc1ccccc1)C(C)C)(c1ccccc1)->c1ccccc1)(c1ccccc1)->c1ccccc1
Cc1cc(C)c(N2[C]N([C@H](CP([Ir+]P(C[C@H](C(C)C)N3[C]N(c4c(C)cc(C)cc4C)CC3)(c3ccccc3)->c3ccccc3)(c3ccccc3)->c3ccccc3)C(C)C)CC2)c(C)c1
CN(C)p1([Rh+]p2(N(C)C)->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)->oc2ccc3ccccc3c2c2c(ccc3ccccc32)o1
C[C@H](NC(=S)Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)C1=C2[C@H](C=C1)[Fe][C@H]1C=CC=C1P(c1ccccc1)(->c1ccccc1)[Rh+]P2(c1ccccc1)->c1ccccc1
CN(Cc1cccc(COp2([Rh+]p3(OCc4cccc(CN(C)C(=O)c5ccc(C(F)(F)F)cc5)c4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)c1)C(=O)c1ccc(C(F)(F)F)cc1
c1ccc(-c2ccc3c(c2)[C@H](OP([Ir+]P(O[C@@H]2CCc4ccc(-c5ccccc5)cc42)(C2CCCCC2)->C2CCCCC2)(C2CCCCC2)->C2CCCCC2)CC3)cc1
CC(C)(C)P12->[C@@H](Oc3cccc(O[C@@H]4CCc5ccccc54)c31)[C@H]1<-P(C(C)(C)C)([Rh+]2)c2c(O[C@@H]3CCc4ccccc43)cccc2O1
Cc1ccccc1N1N(c2ccccc2C)p2(->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)[Rh+]p12->oc1ccc3ccccc3c1c1c(ccc3ccccc31)o2
CCN(Cc1ccccc1)p1([Rh+]p2(N(CC)Cc3ccccc3)->oc3ccc4ccccc4c3c3c(ccc4ccccc43)o2)->oc2ccc3ccccc3c2c2c(ccc3ccccc32)o1
CCCCc1ccc(NC(=O)c2ccccc2C(=O)NCc2cccc(COp3([Ir+]p4(OCc5cccc(CNC(=O)c6ccccc6C(=O)Nc6ccc(CCCC)cc6)c5)->oc5ccc6ccccc6c5c5c(ccc6ccccc65)o4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)c2)cc1
C[C@@H]1Oc2cccc3c2-c2c(cccc2P(c2ccccc2)(->c2ccccc2)[Ru+2]P3(c2ccccc2)->c2ccccc2)O[C@@H]1C
CC1(C)[C@@H]2CC[C@@]1(C)[C@H]1c3<-n(c4c(nc3)CC=CC4)[Ir+]P(c3ccccc3)(->c3ccccc3)[C@H]21
C[C@H](NC(=S)Nc1cc(C(F)(F)F)cc(C(F)(F)F)c1)C1=C2[C@H](C=C1)[Fe][C@H]1C=CC=C1P(c1ccccc1)(->c1ccccc1)[Rh+]P2(c1ccccc1)->c1ccccc1
CC(C)(C)<-P1(C)CCP(C)(->C(C)(C)C)[Rh+]1
c1ccc(P2(->c3ccccc3)[Ir+]P(c3ccccc3)(c3ccccc3)->c3ccc4c(c3-c3c2ccc2c3OCCO2)OCCO4)cc1
CC(C)[Si](O[C@H]1CP(c2ccccc2)(->c2ccccc2)[Ir+]n2->c1ccc1ccccc12)(C(C)C)C(C)C
CN(C)[C@@H]1C2=C[C@@H]([Fe]C3C=CC=C3)C=C2P(c2ccccc2)(->c2ccccc2)[Rh+]P(c2ccccc2)(->c2ccccc2)c2ccccc21
CC(C)[C@@H]1<-N2=C(COP(c3ccccc3)(->c3ccccc3)[Ir+]2)OC1
CC(C)(C)P1(->C(C)(C)C)CC2=N(->[C@H](c3ccccc3)CO2)[Ir+]1
Cc1cccc(C)c1S1->C[C@H]2O[C@@H]3OC(C)(C)OC3C2Op2(->oc3c(C(C)(C)C)cc(C(C)(C)C)cc3c3cc(C(C)(C)C)cc(C(C)(C)C)c3o2)[Ir+]1
CN1[C@@H]2CCCc3sc(-c4ccccc4)n(->c32)[Ir+]P1(c1ccccc1)->c1ccccc1
CP1(->C2C=CC=C2)CCP(C)(->C2CCCCC2)[Rh+]1
CC(C)(C)c1cc(C(C)(C)C)cc(P2(c3cc(C(C)(C)C)cc(C(C)(C)C)c3)->c3cccc4c3[C@@]3(CCc5cccc(c53)C3=N(->[C@@H](Cc5ccccc5)CO3)[Ir+]2)CC4)c1
Fc1c(F)c(F)c(CN2C3=N(->[C@@H]4CCCC[C@H]42)[Ir+]P(c2ccccc2)(->c2ccccc2)c2ccccc23)c(F)c1F
Cc1ccccc1P1(c2ccccc2C)->[C@@H](C)C2=C[C@H]([Fe]C3C=CC=C3)C=C2P(C(C)(C)C)(->C(C)(C)C)[Rh+]1
c1ccc(N2CCN(p3([Rh+]p4(N5CCN(c6ccccc6)CC5)->oc5ccc6ccccc6c5c5c(ccc6ccccc65)o4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)CC2)cc1
c1ccc(P2(->c3ccccc3)[Ru+2]P(c3ccccc3)(c3ccccc3)->c3ccc4ccccc4c3-c3c2ccc2ccccc32)cc1
CN1[C@H]2CCCc3sc(-c4ccccc4)n(->c32)[Ir+]P1(c1ccccc1)->c1ccccc1
C[C@H]1c2ccc3ccccc3c2-c2c(ccc3ccccc23)[C@H](C)<-P1([Rh+]P1(c2ccccc2)->[C@@H](C)c2ccc3ccccc3c2-c2c(ccc3ccccc23)[C@@H]1C)c1ccccc1
C[C@H]1C2=C[C@@H]([Fe]C3C=CC=C3)C=C2c2ccccc2P(c2ccccc2)(->c2ccccc2)[Rh+]P1(c1ccccc1)->c1ccccc1
CC(C)[C@@H]1<-N2=C(OC1)c1ccccc1-c1ccccc1P(c1ccccc1)(->c1ccccc1)[Ir+]2
CC1(C)OP(C(C)(C)C)(->C(C)(C)C)[Ir+]N2->[C@@H](C(C)(C)C)COC=21
C[C@H]1CC[C@H](C)<-P12CCP1(->[C@@H](C)CC[C@@H]1C)[Rh+]2
c1ccc2c(c1)ccc1op([Rh+]p3(N4CCOCC4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)(N3CCOCC3)->oc3ccc4ccccc4c3c12
c1ccc(P(c2ccccc2)c2cc3ccccc3c3c2op2(N4CCCCC4)->oc4c(cc5ccccc5c43)P(c3ccccc3)(->c3ccccc3)[Rh+]2)cc1
c1ccc(C2OC[C@@H](Op3([Rh+]p4(O[C@@H]5COC(c6ccccc6)O[C@H]5[C@@H]5OC(c6ccccc6)OC[C@H]5OC(c5ccccc5)c5ccccc5)->oc5ccc6ccccc6c5c5c(ccc6ccccc65)o4)->oc4ccc5ccccc5c4c4c(ccc5ccccc54)o3)[C@H]([C@@H]3OC(c4ccccc4)OC[C@H]3OC(c3ccccc3)c3ccccc3)O2)cc1
CC[C@H](C)[C@H]1<-N2=C(OC1)C1=CCC[C@]13CCC=C3P(c1ccccc1)(->c1ccccc1)[Ir+]2
c1ccc(-c2<-n3c4n(c2)CCC[C@H]4CP(c2ccccc2)(->c2ccccc2)[Ir+]3)cc1
Cc1ccc(P2(c3ccc(C)cc3)->N(C)[C@H](C)C3=C(C=C[C@@H]3[Fe]C3C=CC=C3)P(c3ccccc3)(->c3ccccc3)[Rh+]2)cc1
